
.time-block{
    border: 1px solid gray;
  }

 .add-button {
   text-align:center;
   margin-right: 1rem;
 }

 i {
   align-items: center;
 }

 #planner-body{
   padding-left: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: white;
 }

 .quote{
   padding-left: 10px;
   color: white;
 }

 #currentDay{
   color:white;
 }
 
 #map {
  width: 100%;
  height: 300px;
  background-color: grey;
}

#directions {
  width: 100%;
  height: 100px;
}

.map {
  background-color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(lake_forest_mountain.jpeg);
  background-position: center;
  background-attachment: scroll;
}